.hmoe-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .user-info__wrap {
    margin-top: 174px;
  }
  .qr-code-step__wrap {
    margin-top: 248px;
    // margin-top: 220px;
    padding: 32px 54px 44px;
    box-sizing: border-box;
    width: 670px;
    border-radius: 40px;
    background-color: rgba(221, 235, 235, 1);
    .qr-code-step__text {
      font-size: 28px;
      position: relative;
      &::before,
      &::after {
        content: "";
        width: 118px;
        height: 4px;
        border-top: 1px solid #797979;
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
    .qr-code-step__hint {
      margin-top: 46px;
      display: flex;
      justify-content: space-between;
      .step-hint {
        width: 140px;
        font-size: 28px;
        &__icon{
          margin: auto;
          width: 112px;
          height: 112px;
          border: 1px solid rgba(121, 121, 121, 1);
          border-radius: 36px;
        }
        &__text {
          display: inline-block;
          margin-top: 8px;
        }
      }
    }
    .qr-code__wrap {
      margin-top: 44px;
      .not-auth__btn,
      .qr-code__btn {
        height: 108px;
        border-radius: 160rpx;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
        color: #8A5A37;
        font-size: 36px;
        font-weight: bold;
      }
      .not-auth__btn {
        background-color: rgba(215, 215, 215, 1);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .qr-code__btn {
        background: linear-gradient(269.854963706987deg, rgba(243, 212, 152, 1) 0%, rgba(240, 178, 113, 1) 99%)
      }
    }
  }
}