.hmoe-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .user-auth__wrap {
    // 元素大小 * (375 / 设计稿宽度) = rpx
    // margin: 1.5rem;
    // margin-top: 174px;
    margin-top: 150px;
    box-sizing: border-box;
    height: 210px;
    width: 670px;
    border-radius: 40px;
    background: linear-gradient(
      180deg,
      rgba(217, 235, 235, 1) 0%,
      rgba(246, 241, 235, 1) 100%
    );
    box-shadow: 10px 10px 10px rgba(127, 127, 127, 0.349019607843137);
    .user-content {
      display: flex;
      align-items: center;
      margin: 20px 20px 0px;
      padding-bottom: 10px;
    }
    .not-auth {
      border-bottom: 2px solid #d7d7d7;
      &__avatar {
        width: 112px;
        height: 112px;
        border: 1px solid;
        margin-right: 20px;
      }
      &__placeholder {
        font-size: 36px;
      }
    }

    .use-auth {
      &__avatar {
        width: 150px;
        height: 150px;
        border: 1px solid;
        margin-right: 28px;
      }
      &__user-info{
        font-size: 28px;
        .user-name {
          color: #333333;
        }
        .user-id {
          margin-top: 28px;
          color: #7F7F7F;
          .copy-id-btn {
            vertical-align: bottom;
            margin-left: 28px;
          }
        }
      }
    }
  }
  .qr-code-step__wrap {
    // margin-top: 248px;
    margin-top: 220px;
    padding: 32px 54px 44px;
    box-sizing: border-box;
    // height: 210px;
    width: 670px;
    border-radius: 40px;
    background-color: rgba(221, 235, 235, 1);
    .qr-code-step__text {
      font-size: 28px;
      position: relative;
      &::before,
      &::after {
        content: "";
        border: 1px solid red;
        width: 118px;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
    .qr-code-step__hint {
      margin-top: 46px;
      display: flex;
      justify-content: space-between;
      .step-hint {
        width: 140px;
        font-size: 28px;
        &__icon{
          margin: auto;
          width: 112px;
          height: 112px;
          border: 1px solid rgba(121, 121, 121, 1);
          border-radius: 36px;
        }
        &__text {
          display: inline-block;
          margin-top: 8px;
        }
      }
    }
    .qr-code__btn {
      margin-top: 44px;
    }
  }
}